---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/users.get?access_token=incorrect_token&fields=first_name,last_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"error_code":5,"error_msg":"User authorization failed: invalid
        access_token (4).","request_params":[{"key":"oauth","value":"1"},{"key":"method","value":"users.get"},{"key":"fields","value":"first_name,last_name"}]}}'
  recorded_at: Sat, 27 Jan 2018 19:48:32 GMT
recorded_with: VCR 4.0.0
