---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=correct_token&fields=first_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"EnHJoZtMbfB"}}'
  recorded_at: Sat, 27 Jan 2018 19:48:32 GMT
recorded_with: VCR 4.0.0
